name = "shipany-template-one"
compatibility_date = "2024-07-29"
compatibility_flags = ["nodejs_compat"]
pages_build_output_dir = ".vercel/output/static"

[vars]
NEXT_PUBLIC_WEB_URL = "https://deepseekocr.site"
NEXT_PUBLIC_PROJECT_NAME = "DeepSeek OCR"